<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>shppng cart</display-name>
	<filter>
		<description>
		</description>
		<display-name>filter1</display-name>
		<filter-name>filter1</filter-name>
		<filter-class>filter1</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter1</filter-name>
		<url-pattern>/serv1</url-pattern>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>serv1</display-name>
		<servlet-name>serv1</servlet-name>
		<servlet-class>serv1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>showcart</display-name>
		<servlet-name>showcart</servlet-name>
		<servlet-class>showcart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>remove</display-name>
		<servlet-name>remove</servlet-name>
		<servlet-class>remove</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateF</display-name>
		<servlet-name>updateF</servlet-name>
		<servlet-class>updateF</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>serv2</display-name>
		<servlet-name>serv2</servlet-name>
		<servlet-class>serv2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateservlet</display-name>
		<servlet-name>updateservlet</servlet-name>
		<servlet-class>updateservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>frgetpassword</display-name>
		<servlet-name>frgetpassword</servlet-name>
		<servlet-class>
		frgetpassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>findhint</display-name>
		<servlet-name>findhint</servlet-name>
		<servlet-class>
		findhint</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>books</display-name>
		<servlet-name>books</servlet-name>
		<servlet-class>
		books</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>dvds</display-name>
		<servlet-name>dvds</servlet-name>
		<servlet-class>
		dvds</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>fruits</display-name>
		<servlet-name>fruits</servlet-name>
		<servlet-class>
		fruits</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>update</display-name>
		<servlet-name>update</servlet-name>
		<servlet-class>
		update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logout</display-name>
		<servlet-name>logout</servlet-name>
		<servlet-class>logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addS</display-name>
		<servlet-name>addS</servlet-name>
		<servlet-class>addS</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>add</display-name>
		<servlet-name>add</servlet-name>
		<servlet-class>add</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>delete</display-name>
		<servlet-name>delete</servlet-name>
		<servlet-class>delete</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>deleteF</display-name>
		<servlet-name>deleteF</servlet-name>
		<servlet-class>deleteF</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>adminS</display-name>
		<servlet-name>adminS</servlet-name>
		<servlet-class>
		adminS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serv1</servlet-name>
		<url-pattern>/serv1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateF</servlet-name>
		<url-pattern>/updateF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addS</servlet-name>
		<url-pattern>/addS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteF</servlet-name>
		<url-pattern>/deleteF</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>serv2</servlet-name>
		<url-pattern>/serv2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateservlet</servlet-name>
		<url-pattern>/updateservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>remove</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>frgetpassword</servlet-name>
		<url-pattern>/frgetpassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>findhint</servlet-name>
		<url-pattern>/findhint</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showcart</servlet-name>
		<url-pattern>/showcart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>books</servlet-name>
		<url-pattern>/books</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dvds</servlet-name>
		<url-pattern>/dvds</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fruits</servlet-name>
		<url-pattern>/fruits</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteF</servlet-name>
		<url-pattern>/deleteF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminS</servlet-name>
		<url-pattern>/adminS</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
